@import url('https://cdn.jsdelivr.net/npm/inter-ui@3.15.0/inter.css');
  font-family: -apple-system, BlinkMacSystemFont, 'Avenir Next', Avenir, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
html { font-family:
    "Noto Sans", "Noto Sans CJK SC",
        sans-serif,
        'Inter',
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol';
      }
@supports (font-variation-settings: normal) {
  html { font-family:
    "Noto Sans", "Noto Sans CJK SC",
        sans-serif,
          'Inter var',
          sans-serif,
          'Apple Color Emoji',
          'Segoe UI Emoji',
          'Segoe UI Symbol';
        }
}
code {
  font-family: "jetBrains mono","fira code","source code pro","Lucida Console", Monaco, monospace,sans-serif;
  font-variant-ligatures: normal;
  font-size: 85%;
}
