footer { font-size: 90%; font-family: monospace; }
p{
    text-indent: 2em; /*首行缩进*/
}

a[href^="#fn:"]:before{ content: '[' }
a[href^="#fn:"]:after{ content: ']' }
figure {
    width: 100%; 
    height: 100%; 
    margin: 0;
    text-align: center;
 }
 
figcaption .caption {
    color:#6a737d;
    font-size:small;
    text-align: center;
 }
 