{{ partial "header.html" . }}
<div class="article-meta">
<h1><span class="title">{{ .Title | markdownify}}</span></h1>
{{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
{{ if .Params.date }}<p class="date">{{ .Params.date.Format "2006/01/02" }}</p>{{ end }}
{{ if not (eq .Params.lastmod .Params.date) }}<p class="lastmod">Updated:{{ .Params.lastmod.Format "2006/01/02" }}</p>{{ end }}
<p class="terms">
  {{ range $i := (slice "categories" "tags") }}
  {{ with ($.Param $i) }}
  {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a> {{ end }}
  {{ end }}
  {{ end }}
</p>
</div>

{{ if .Params.toc }}
{{ .TableOfContents }}
{{ end }}

<main>
{{ partial "table-of-contents" .  }}
{{ if .Site.Params.CDN.enable }}
    {{ $reAltIn := "<img src=\"/([^\"]+)\" alt=\"([^\"]+)\">"}}
    {{ $reAltOut := (printf "<img src=\"%s$1\" alt=\"$2\">" .Site.Params.CDN.Host )}}
    {{ $altContent := .Content | replaceRE $reAltIn $reAltOut | safeHTML }}

    {{ $reAltTitleIn := "<img src=\"/([^\"]+)\" alt=\"([^\"]+)\" title=\"([^\"]+)\">" }}
    {{ $reAltTitleOut := (printf "<img src=\"%s$1\" alt=\"$2\" title=\"$3\">" .Site.Params.CDN.Host )}}
    {{ $finalContent := $altContent | replaceRE $reAltTitleIn $reAltTitleOut | safeHTML }}

    {{ $finalContent }}
{{ else }}
    {{ .Content }}
{{ end }}
<button onclick="topFunction()" id="topBtn" title="Go to top">Top</button>
</main>
{{ partial "footer.html" . }}
