<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <header>
    <!-- redirect http to https -->
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/blurrylight/blurrylight.github.io@master/css/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/blurrylight/blurrylight.github.io@master/css/fonts.css" />
    {{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
    {{- end }}
    {{ partial "head_custom.html" . }}
  </header>

<body>
  <br/>
