
<!-- KaTeX -->
    <link rel="stylesheet" href="/css/katex.min.css">
    {{ if (.Params.mermaid) }}
    <!-- MermaidJS support -->
    <script async src="/js/mermaid.min.js"></script>
    {{ end }}

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="/js/katex.min.js"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="/js/auto-render.min.js"></script>

    <link href="/css/copy-tex.min.css" rel="stylesheet" type="text/css">
    <script src="/js/copy-tex.min.js"></script>

    <!-- https://github.com/kylewetton/image-compare-viewer -->
    <script src="https://unpkg.com/image-compare-viewer/dist/image-compare-viewer.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/image-compare-viewer/dist/image-compare-viewer.min.css">
    <script>
      var image_compare_options = {
          // UI Theme Defaults

          controlColor: "#FFFFFF",
          controlShadow: true,
          addCircle: false,
          addCircleBlur: true,

          // Label Defaults

          showLabels: true,
          labelOptions: {
            before: 'Before',
            after: 'After',
            onHover: false
          },

          // Smoothing

          smoothing: false,
          smoothingAmount: 100,

          // Other options

          hoverStart: false,
          verticalMode: false,
          startingPoint: 50,
          fluidMode: false
          };
    </script>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
      renderMathInElement(document.body, {

          trust: ["\\htmlId"],
          macros: {
            "\\figref": "\\href{##fig:#1}{ (\\text{#1})}",
            "\\eqref": "\\href{##eqn:#1}{(\\text{#1})}",
            "\\ref": "\\href{##eqn:#1}{\\text{#1}}",
            "\\label": "\\htmlId{eqn:#1}{}",
            "\\labeltag": "\\htmlId{eqn:#1}{}\\tag{#1}"
          }
      }
      );
    });
    </script>

  <!--
  Syntax highlighting - defaults to atom light theme.
  List here: https://github.com/isagalaev/highlight.js/tree/master/src/styles
  -->
<link rel="stylesheet"
      href="/css/atom-one-light.min.css">
<script  src="/js/highlight.min.js"></script>
<script  src="/js/highlight_hlsl.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
  document.querySelectorAll('pre code').forEach((block) => {
    hljs.highlightBlock(block);
  });
});
  </script>
  <nav>
    <ul>
      {{ $title := lower .Title }}
      {{ $section := lower .Section }}
      <li class="pull-left {{ if .IsHome }}current{{ end }}">
        <a href="{{ .Site.BaseURL }}">/home</a>
      </li>
      {{ range .Site.Menus.main }}
      {{ $name := lower .Name }}
      <li class="pull-left {{ if eq $name $title }}current{{ else if eq $section $name }}current{{ else if eq $title (pluralize $name) }}current{{ end }}">
        <a href="{{ .URL}}">~/{{ lower .Name }}</a>
      </li>
      {{end}}

      {{ range .Site.Menus.feed }}
      {{ $name := lower .Name}}
      <li class="pull-right">
        <a href="{{ .URL }}">~/{{ lower .Name}}</a>
      </li>
      {{end}}

      <li class="pull-right">
        <!-- <form target="_blank" method="get" id="googleSearch" action="https://google.com/search">
          <input type="hidden" name="sitesearch" value="www.blurredcode.com"/>
          <input type="text" name="q" placeholder="Search…" aria-label="Google Search"/>
          <button type="submit">Google</button>
        </form> -->
      
      <form target="_blank" method="get" id="bingSearch" action="https://www.bing.com/search">
        <input type="hidden" name="q1" value="site:blurredcode.com"/>
        <input type="text" name="q" placeholder="Search…" aria-label="Search blurredcode.com on Bing"/>
        <button type="submit">Bing</button>
      </form>

      </li>
    <div style="clear:both;">
    </div>
    </ul>
  </nav>



<style>
  #topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:#708090;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#topBtn:hover {
  background-color: #555;
}
</style>